.user-widget {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 6px;
    gap: 6px;
    box-sizing: border-box;
}

.user-avatar {
    width: 40px;
}

.user-name {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 0 #3F3F3F;
}

.logout-button {
    font-family: "Minecraft";
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0px;
}

.user-widget:hover .logout-button {
    display: block;
}