.craft-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.craft-card-inner {
  margin-bottom: 10px;
}

.craft-card-children {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}