.craft-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.craft-card-inner {
  margin-bottom: 50px;
  padding: 0 10px;
}

.craft-card-children {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}

.craft-card-children::before {
  content: "";
  width: 4px;
  height: 25px;
  background: white;
  position: absolute;
  left: 50%;
  top: -50px;
}

.craft-card-children>* {
  position: relative;
}

.craft-card-children>*::before {
  content: "";
  width: 4px;
  height: 25px;
  background: white;
  position: absolute;
  top: -25px;
  left: 50%;
}

.craft-card-children>*::after {
  content: "";
  width: 100%;
  height: 4px;
  background: white;
  position: absolute;
  top: -25px;
  left: 0;
}

.craft-card-children>*:first-child::after {
  width: 50%;
  left: 50%;
}

.craft-card-children>*:last-child::after {
  width: 50%;
  right: 50%;
}

.craft-card-children>*:first-child:last-child:after {
  width: 0;
}

.arrow-next, .arrow-prev {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  background: transparent;
  position: absolute;
  cursor: pointer;
}

.arrow-next:hover, .arrow-prev:hover {
  border-color: rgb(83, 83, 83);
}

.arrow-prev{
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: -13px;
}

.arrow-next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: -13px;
}

.arrows-container {
  position: relative;
  width: 1px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}