.App {
  text-align: center;
  display: flex;
}

.App_sidebar {
  display: block;
  margin-left: 0;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.App_main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}