.app {
  display: flex;
}

.app-sidebar {
  display: block;
  margin-left: 0;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.app-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.sharp-image {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.login-button {
  color: black;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 9px;
  padding: 7px 10px;
}

.login-button img {
  margin-right: 10px;
}

.minecraft-card {
  background-color: #c6c6c6;
  border: 2px solid;
  border-color: #dbdbdb #5b5b5b #5b5b5b #dbdbdb;
  padding: 6px 15px;
  color: #3f3f3f;
  max-width: 200px;
}

.clickable {
  cursor: pointer;
}
