.recipe-card {
  display: flex;
  align-items: center;
  background-color: #c6c6c6;
  border: 2px solid;
  border-color: #dbdbdb #5b5b5b #5b5b5b #dbdbdb;
  padding: 6px;
  text-align: left;
}

.recipe-board {
  max-width: 108px;
}

.arrow {
  background: url(/images/Grid_layout_Arrow.png) no-repeat;
  width: 32px;
  height: 26px;
  margin: 0px 4px 0;
}
